main {
  #posting {
    .container {
      align-items: center;
      justify-content: center;
      form {
        display: flex;
        flex-direction: column;

        width: 40%;
        align-items: center;
        gap: 10px;
        padding: 40px;
        label {
          font-weight: bold;
          font-size: 18px;
        }
        input {
          width: 100%;
          border: none;
          outline: none;
          padding: 5px;
          border-radius: 20px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.384);
          background-color: rgba(0, 0, 0, 0.039);
          font-size: 15px;
        }
        .colors {
          display: flex;
          gap: 5px;
          flex-direction: column;
          width: 50%;
          div {
            display: flex;
            gap: 10px;
            p {
              width: 100%;
            }
          }
        }
        .categorya,
        .categoryb {
          gap: 5px;
          display: flex;
          flex-direction: column;
          width: 50%;
          div {
            display: flex;

            gap: 10px;
            p {
              width: 100%;
            }
          }
        }
        #post {
          transition: 400ms;
          cursor: pointer;
          &:hover {
            background-color: #c39e88;
            color: white;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  main {
    #posting {
      .container {
        form {
          width: 100%;
          input {
            width: 100%;
          }
          .colors {
            width: 100%;
          }
          .categorya,
          .categoryb {
            width: 100%;
          }
        }
      }
    }
  }
}
